html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    }
      
      ::-webkit-scrollbar {
        width: 10px;
        background-color: #ffffff;
      }
      
    ::-webkit-scrollbar-thumb {
    background-color: #c82d35;
    border-radius: 3px;
    }