@font-face {
    font-family: 'Squanova';
    src: url('../../assets/fonts/squanova.woff2') format('woff2'),
         url('../../assets/fonts/squanova.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}