@import "normalize";
@import "reset";
@import "fonts";

$montserrat: 'Montserrat', sans-serif;
$squanova: 'Squanova', sans-serif;

$white: #FFFFFF;
$black: #000000;
$gray: #808080;
$red: #C82D35;

html {
    scroll-behavior: smooth;
}

#header {
    width: 80vw; 
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    #header__brand {
        font-family: $squanova;
        font-size: 1.25rem;
        color: $black;
        letter-spacing: 1px;
        &:hover {
            color: $red;
        }
    }
    #menu {
        #menu__items {
          display: flex;
          gap: 20px;
          li {
            a {
              display: block;
              font-size: 18px;
              color: $black; 
              font-family: $montserrat;
              transition: 0.2s ease-in-out;
              &:hover { 
                  color: $red;
              }
            }
          }
        }
        #btn-mobile {
          display: none;
        }
    }
}

#presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    font-family: $montserrat;
    height: calc(100vh - 60px);
    h2 {
        color: $black;
        font-size: 1.125rem;
        font-weight: 700;
        margin-top: -60px;
    }
    h1 {
        color: $black;
        font-size: 4rem;
        font-weight: 700;
        text-align: center;
        margin-top: 30px;
    }
    p {
        color: $black;
        margin-top: 20px;
        text-align: center;
        max-width: 600px;
    }
    button {
        background-color: $black;
        color: $white;
        border: none;      
        text-transform: uppercase;
        padding: 15px 20px;
        margin-top: 40px;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        &:hover {
            background-color: $red;
        }
    }
}

.title {
    font-size: 48px;
    font-weight: 700;
    color: $black;
    text-transform: uppercase;
    text-align: center;
    font-family: $montserrat;
    &::after {
        content: '';
        display: block;
        width: 200px;
        height: 4px;
        background-color: $red;
        margin: 0 auto;
    }
}

#projects {
    width: 80vw; 
    margin: 0 auto;
    display: flex;
    flex-direction: column; 
    font-family: $montserrat;
    margin-top: 100px;
    #projects__grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-top: 50px;
        .project__item {
            flex: 1 1 32%; 
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.40);
            overflow: hidden;
            img {
                max-width: 100%;
                display: block;
                transition: 1s ease-in-out;
            }
            &:hover > img {
                transform: scale(1.3);
            }
            .project__item_overlay {
                position: absolute;
                inset: 0; 
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: 0.2s ease-in-out;
                background-color: rgba(200, 45, 23, 0.8);
                .project__item_overlay_content {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 0 10px;
                    inset: 0;
                    h2 {
                        color: $white;
                        text-transform: uppercase;
                        font-weight: 700;
                        font-size: 18px;
                    }
                    p {
                        color: $white;
                        text-align: center;
                        padding: 10px 0;
                    }
                    a {
                        color: $white;
                        background-color: $black;
                        text-transform: uppercase;
                        padding: 10px 50px;
                        transition: 0.4s ease-in-out;
                        &:hover {
                            color: $black;
                            background-color: $white;
                        }
                    }
                }
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

#about {
    width: 80vw;
    margin: 60px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: $montserrat;
    #about__content {
        flex: 1;
        h2 {
            font-size: 48px;
            font-weight: 700;
        }
        p {
            line-height: 20px;
            margin-top: 30px;
        }
    }
    #about__img {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.40);
        }
    }
}

#back_to_top {
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 0.625rem;
    right: 0.625rem;
    padding: 1rem 1.2rem;
    background-color: $black;
    color: $white;
    border-radius: 0.625rem;
    transition: 0.2s;
    text-decoration: none; 
    z-index: 9999;
    -webkit-tap-highlight-color: transparent;
    &:hover {
      background-color: $red;
      transform: scale(105%);
    }
  }

@import "responsive";